{% extends 'base.html' %}

{% block content %}
<div class="container">
    
    <h2>Кольори</h2>
    <ul class="list-group mb-4">
        {% for color in colors %}
            <li class="list-group-item"
                style="color: 
                    {% if color.availability_status == 'out_of_stock' %}red
                    {% elif color.availability_status == 'low_stock' %}orange
                    {% else %}green{% endif %};">
                <a href="{% url 'color_detail_update' color.id %}" class="text-decoration-none"
                   style="color: inherit;">{{ color.name }} ({{ color.code }})</a>
            </li>
        {% endfor %}
    </ul>
    
    <h3>Додати новий колір</h3>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_name">Назва</label>
                {{ color_form.name }}
                {{ color_form.name.errors }}
        </div>
        <div class="mb-3">
            <label for="id_codel">Код</label>
                {{ color_form.code }}
                {{ color_form.code.errors }}
        </div>
        <div class="mb-3">
            <label for="id_availability_status">Наявність</label>
                {{ color_form.availability_status }}
                {{ color_form.availability_status.errors }}
        </div>
        <button type="submit" class="btn btn-primary">Додати</button>
    </form>
</div>
{% endblock %}
