{% extends "base.html" %}

{% block title %}Деталі кольору{% endblock %}

{% block content %}

<div class="container">
    <h2>Редагувати дані кольору</h2>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_name">Назва</label>
                {{ form.name }}
                {{ form.name.errors }}
        </div>
        <div class="mb-3">
            <label for="id_codel">Код</label>
                {{ form.code }}
                {{ form.code.errors }}
        </div>
        <div class="mb-3">
            <label for="id_availability_status">Наявність</label>
                {{ form.availability_status }}
                {{ form.availability_status.errors }}
        </div>
        <button type="submit" class="btn btn-primary">Оновити</button>
        <a href="{% url 'color_list' %}" class="btn btn-secondary">Назад</a>
    </form>
</div>

{% endblock %}
