{% extends "base.html" %}

{% block title %}Поточні замовлення{% endblock %}

{% block content %}

<h3>Поточні замовлення</h3>

{% if messages %}
    <div class="mb-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags|default:'info' }}" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

<form method="post" class="mb-4">
    {% csrf_token %}

    <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle text-small">
            <thead class="table-light">
                <tr>
                    <th scope="col" style="width: 56px;">#</th>
                    <th scope="col">Модель та Колір</th>
                    <th scope="col">Статус та мітки</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td class="fs-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="orders" value="{{ order.id }}">
                        </div>
                    </td>
                    <td style="font-size: 14px;">
                        <a href="{% url 'order_detail' order.id %}" style="text-decoration: none; color: #6c757d;">{{ order.model.name }} - {{ order.color.name }}</a>
                    </td>
                    <td style="font-size: 14px;">
                            <span class="badge
                                {% if order.get_status == 'new' %} bg-success
                                {% elif order.get_status == 'embroidery' %} bg-warning
                                {% elif order.get_status == 'almost_finished' %} bg-primary
                                {% elif order.get_status == 'finished' %} bg-info
                                {% elif order.get_status == 'on_hold' %} bg-secondary
                                {% endif %}">
                                {{ order.get_status_display }}
                            </span>
                            {% if order.etsy %}
                            <span class="badge bg-secondary">Е</span>
                            {% endif %}
                            {% if order.embroidery %}
                            <span class="badge bg-warning">В</span>
                            {% endif %}
                            {% if order.urgent %}
                            <span class="badge bg-danger">Т</span>
                            {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">Поточних замовлень немає.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row g-2 align-items-end mb-3">
        <div class="col-md-6">
            <select class="form-select" id="new_status" name="new_status">
                {% for value, label in form.fields.new_status.choices %}
                <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-auto">
            <button type="submit" class="btn btn-primary">Змінити статус</button>
        </div>
    </div>
</form>

<div class="mb-4">
    <a href="{% url 'finished_orders_list' %}" class="btn btn-secondary">Готові замовлення</a>
</div>



{% endblock %}
