{% extends "base.html" %}
{% load order_ui %}
{% load tz %}

{% block title %}Деталі замовлення{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Деталі замовлення</h2>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>ID</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Модель</th>
                <td>{{ order.model }}</td>
            </tr>
            <tr>
                <th>Колір</th>
                <td>{{ order.color }}</td>
            </tr>
            <tr>
                <th>Вишивка</th>
                <td>{{ order.embroidery|yesno:"Так,Ні" }}</td>
            </tr>
            <tr>
                <th>Коментар</th>
                <td>{{ order.comment|default:"-" }}</td>
            </tr>
            <tr>
                <th>Терміново</th>
                <td>{{ order.urgent|yesno:"Так,Ні" }}</td>
            </tr>
            <tr>
                <th>Etsy</th>
                <td>{{ order.etsy|yesno:"Так,Ні" }}</td>
            </tr>
            <tr>
                <th>Створено</th>
                <td>{{ order.created_at|date:"d.m.Y H:i" }}</td>
            </tr>
            <tr>
                <th>Закінчено</th>
                <td>{% if order.finished_at %}{{ order.finished_at|date:"d.m.Y H:i" }}{% else %}-{% endif %}</td>
            </tr>
            <tr>
                <th>Поточний статус</th>
                <td>
                    <span class="badge {{ order.current_status_code|status_badge_class }}">
                        {{ order.current_status_display }}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="card mt-4">
    <div class="card-header">
        <h2 class="card-title">Історія статусів</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Cтатус</th>
                <th>Змінив</th>
                <th>Час</th>
            </tr>
            </thead>
            <tbody>
            {% for status in order.status_history %}
                <tr>
                    <td>{{ status.new_status_display }}</td>
                    <td>{{ status.changed_by }}</td>
                    <td>{{ status.changed_at }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
