{% extends "base.html" %}

{% block title %}Створити нове замовлення{% endblock %}

{% block extra_head %}

    <script>
        // Функція для блокування кнопки після натискання
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form'); // Отримуємо форму
            const submitButton = form.querySelector('button[type="submit"]'); // Знаходимо кнопку "Створити"

            form.addEventListener('submit', function (event) {
                // Перевіряємо, чи кнопка вже була заблокована
                if (submitButton.disabled) {
                    event.preventDefault(); // Зупиняємо повторну відправку форми
                    return;
                }

                // Блокування кнопки
                submitButton.disabled = true;
                submitButton.innerText = 'Опрацьовується...'; // Зміна тексту на кнопці
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow-lg" style="max-width: 600px; width: 100%;">
            <h2 class="text-center mb-4">Нове замовлення</h2>
            <form method="post" action="{% url 'order_create' %}">
                {% csrf_token %}

                <!-- Поле: вибір моделі -->
                <div class="mb-3">
                    <label for="id_model">Модель</label>
                    {{ form.model }}
                    {{ form.model.errors }}
                </div>

                <!-- Поле: вибір кольору -->
                <div class="mb-3">
                    <label for="id_color">Колір</label>
                    {{ form.color }}
                    {{ form.color.errors }}
                </div>

                <div class="mb-3 form-check">
                    {{ form.etsy }}
                    <label for="id_etsy">Etsy</label>
                    {{ form.etsy.errors }}
                </div>


                <!-- Поле: вишивка -->
                <div class="mb-3 form-check">
                    {{ form.embroidery }}
                    <label for="id_embroidery">Вишивка</label>
                    {{ form.embroidery.errors }}
                </div>

                <!-- Поле: термінове -->
                <div class="mb-3 form-check">
                    {{ form.urgent }}
                    <label for="id_urgent">Терміново</label>
                    {{ form.urgent.errors }}
                </div>

                <!-- Поле: коментар -->
                <div class="mb-3">
                    <label for="id_comment">Коментар</label>
                    {{ form.comment }}
                    {{ form.comment.errors }}
                </div>

                <button type="submit" class="btn btn-primary w-100">Створити</button>
            </form>
        </div>
    </div>
{% endblock %}
